<!DOCTYPE html>
<html>
 <head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script>
    $(document).ready(function() {

      $('#signUp').click(function(){
        window.location.href = "/user"
      });

      $('#logIn').click(function(){
        window.location.href = "/login"
      });
    });
  </script>
  <meta charset="UTF-8">
  <title>Abdullah and J --> TicTacToe </title>
 </head>
 <body>
  <div>
    <button id= 'signUp'>Sign Up</button>
    <button id= 'logIn'>Log In</button>
  </div>
 </body>
</html>